@import 'constants.sass'

input, textarea, button
  font-family: 'Roboto', sans-serif
  font-size: 1.5rem


.btn
  display: block
  width: 100%
  padding: 10px 5px
  border: 0
  box-sizing: border-box
  background: #23a6ff
  font-size: 1.4rem
  font-weight: 300
  font-family: 'Roboto', sans-serif
  color: #fff
  cursor: pointer
  text-decoration: none
  &:hover
    background: $primary-color
  &:disabled
    background: $primary-color
  &--small
    font-size: 1.2rem
  &--red
    background: #F44336
    &:hover
      background: #d64338

  &--gray
    background: #ababab
    &:hover
      background: #949494
  &--w200
    width: 200px
  &--right
    float: right


.link
  text-decoration: none
  color: $sub-primary-color
  &:hover
    color: $primary-color

.error
  color: $alert-color

.not-found
  position: absolute
  display: flex
  top: 0
  right: 0
  left: 0
  bottom: 0
  justify-content: center
  align-items: center
  font-size: 6rem


.wrap-input
  position: relative
  width: 100%
  margin-bottom: 25px
.input
  width: 100%
  padding: 6px 10px
  border: 1px solid $main-gray-color
  box-sizing: border-box
  font-size: 1.35rem
  font-weight: 300
  font-family: 'Roboto', sans-serif
  line-height: 1.8rem


.textarea
  display: block
  width: 100%
  min-height: 150px
  padding: 6px 10px
  border: 1px solid $main-gray-color
  box-sizing: border-box
  font-size: 1.35rem
  font-weight: 300
  font-family: 'Roboto', sans-serif
  line-height: 1.8rem
  resize: vertical
  &--no-resize
    resize: none


.select
  &__control
    border: 1px solid $main-gray-color
  &__placeholder, &__single-value
    font-size: 1.35rem
    font-weight: 300
    font-family: 'Roboto', sans-serif


.error-wrap
  height: 20px
  margin-top: -20px
  text-align: center
  &__text
    text-align: center


.dd-menu
  position: relative
  &__list
    position: absolute
    top: 100%
    right: 0
    margin-top: 3px
    width: 120px
    background: #fff
    z-index: 9
  &__item
    padding: 6px 12px
    cursor: pointer
    text-align: right
    font-size: 1.05rem
    &:hover
      background: $primary-color
      color: #fff

.dd-menu--open
  .dd-menu__list
    border: 1px solid #eee
  .dots__item
    background: $primary-color
  .dots--white
    .dots__item
      background: #ababab


.dots
  cursor: pointer
  font-size: initial
  &:hover
    .dots__item
      background: $primary-color
  &__item
    display: inline-block
    width: 8px
    height: 8px
    border-radius: 50%
    margin: 0 1px
    background: $sub-primary-color
  // size modifications
  &--small
    .dots__item
      width: 6px
      height: 6px
      margin: 0 1px
  &--large
    .dots__item
      width: 10px
      height: 10px
      margin: 0 1px
  // color modifications
  &--white
    &.dots--active
      .dots__item
        background: #ababab
    .dots__item
      background: #FFF
    &:hover
      .dots__item
        background: #ababab


.form-fieldset
  padding: 0
  margin: 0 0 15px
  border: none
  &__headline
    margin: 0 0 5px
    font-size: 1.4rem
    font-weight: 300

.field-error
  position: absolute
  top: 100%
  left: 0
  margin-top: 3px
