@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&subset=cyrillic')

@import 'constants.sass'

@import 'components.sass'
@import 'table.sass'
@import 'modal.sass'
@import 'widget.sass'



html, body, #root
  width: 100%
  height: 100%
  margin: 0
  padding: 0
  background: $background-color
  font-family: 'Roboto', sans-serif
  font-size: 16px

.header
  padding: 10px 8px
  background: $primary-color
  &__logo
    color: #fff
    text-decoration: none
    font-size: 1.6rem
    font-weight: 300
  &__nav
    width: 30px
    float: right

.header-nav
  display: flex
  align-items: center
  justify-content: center
  width: 30px
  height: 30px
  border-radius: 50%
  background: $sub-primary-color
  font-size: 1.15rem
  color: #fff
  cursor: pointer
  user-select: none

// HACK: force rewrite position
.teamSelect
  width: 20%
  min-width: 200px
  position: absolute !important
  top: 0
  margin: 6px 0
  right: 55px

.page-wrap
  position: absolute
  top: 50px
  bottom: 0
  left: 0
  right: 0

.auth-block
  max-width: 500px
  min-width: 300px
  margin: 100px auto
  padding: 40px 50px
  box-sizing: border-box
  background: #fff
  border: 1px solid $main-gray-color
  &__form
    padding: 10px 10px 20px
  &__text
    text-align: center
    &--bottom-offset
      padding-bottom: 15px
    &--headline
      font-size: 1.1rem
      color: #23a6ff

.page-form
  margin: 10px 10px 0
  padding: 10px 10px
  box-sizing: border-box
  background: #fff
  box-shadow: 0 0 1px 1px $main-gray-color
  &__headline
    font-size: 1.6rem
    font-weight: 300
    padding-bottom: 15px

.page
  margin: 10px 10px 40px
  padding: 10px 15px
  background: #fff
  min-height: 90%
  border: 1px solid #e6e6e6
  box-sizing: border-box
  &__header
    position: relative
    padding-bottom: 5px
    border-bottom: 1px solid #eee
    margin-bottom: 5px
  &__headline
    padding-right: 60px
    padding-bottom: 10px
    margin: 0
    font-size: 2.6rem
    font-weight: 300
  &__dots
    position: absolute
    top: 15px
    right: 10px
  &__description
    height: 50px
    font-size: 1.2rem
  &__cards
    display: flex
    flex-wrap: wrap

.page-toolbar
  display: flex
  justify-content: flex-end
  padding-bottom: 10px
  &__btn
    width: auto
    margin-left: 10px


.list-space
  display: flex
.list-cap
  width: 300px
  height: 100%
  background: #202020
  border-top: 3px solid
  border-right: 3px solid
  border-image: url(/noisy.png) 5 round
  box-sizing: border-box

.list-item
  display: flex
  justify-content: space-between
  padding: 10px
  background: #fafafa
  &__title
    font-size: 1.2rem


.drag-scroll-conteiner
  overflow-y: auto
  overflow-x: auto

// kanban module styles

.desk
  position: relative
  width: 100%
  height: 100%
  background: url('/chalkboardBG.png')
  &__header
    height: 60px
    padding-left: 15px
  &__title
    width: 50%
    height: 100%
    display: flex
    justify-content: center
    flex-direction: column
    font-weight: 300
    font-size: 2rem
    color: #FFF
    user-select: none
    cursor: pointer
  &__input
    border: none
    font-weight: 300
    font-size: 2rem
    color: #FFF
    background: transparent
    outline: none
  &__content
    position: absolute
    display: flex
    top: 60px
    left: 0
    right: 0
    bottom: 0
    scrollbar-width: thin
    scrollbar-color: rgba(70, 70, 70, 0.9) transparent
    &::-webkit-scrollbar
      height: 4px
      background: transparent
    &::-webkit-scrollbar-thumb
      background: rgba(70, 70, 70, 0.9)

.desk-list
  position: relative
  padding-right: 3px
  height: 100%
  flex: 0 0 auto
  user-select: none
  &--hide
    display: none
  &--form
    width: 300px
    padding-right: 0
    border-right: 3px solid
    border-image: url("/noisy.png") 5 round
  &__header
    position: relative
    height: 55px
    padding: 10px 0
    padding-left: 35px
    padding-right: 70px
    border-top: 3px solid
    border-bottom: 3px solid
    border-image: url("/noisy.png") 5 round
    box-sizing: border-box
  &__drag
    position: absolute
    left: 8px
    top: 0
    bottom: 0
    width: 18px
    padding-left: 2px
    cursor: pointer
    &::after
      content: '.'
      line-height: 20px
      font-size: 28px
      color: #7b7b7b
      text-shadow: 0 7px #7b7b7b, 0 14px #7b7b7b, 6px 0 #7b7b7b, 6px 7px #7b7b7b, 6px 14px #7b7b7b
    &--disable
      cursor: auto
      &::after
        content: ''
  &__title
    font-weight: 300
    font-size: 1.5rem
    white-space: nowrap
    text-overflow: ellipsis
    color: #FFF
    overflow: hidden
    &--button
      cursor: pointer
  &__input
    width: 100%
    background: transparent
    padding: 0
    border: none
    font-weight: 300
    font-size: 1.5rem
    color: #FFF
    outline: none
  &__menu
    position: absolute
    right: 15px
    top: 15px
  &--input
    width: 100%
    background: 0000
    color: #fff
    font-weight: 300
    outline: none
  &--buttons
    cursor: pointer
    &:hover
      text-shadow: 0 0 3px #fff
  &__accept
    position: absolute
    padding: 5px
    top: 10px
    right: 10px
    font-size: 25px
    color: #fff
    cursor: pointer
  &__content
    position: absolute
    top: 55px
    bottom: 0
    left: 0
    right: 3px
    overflow-y: auto
    overflow-x: hidden
    scrollbar-width: thin
    scrollbar-color: rgba(70, 70, 70, 0.9) transparent
    &::-webkit-scrollbar
      width: 4px
      background: transparent
    &::-webkit-scrollbar-thumb
      background: rgba(70, 70, 70, 0.9)
  &__resize-border
    position: absolute
    width: 3px
    padding: 0 8px
    margin: 0 -8px
    top: 0
    bottom: 0
    right: 0
    cursor: col-resize
    &--disable
      cursor: auto
    &::after
      content: ''
      display: block
      width: 100%
      height: 100%
      background: url('/noisy.png')


.card-space
  height: $desk-card-height
  width: $desk-list-width
  float: left
  padding: 15px
  box-sizing: border-box
  &__cap
    width: 100%
    height: 100%
    padding: 10px
    background: rgba(255, 255, 255, 0.08)
    box-sizing: border-box
    cursor: pointer
  &--hide
    display: none

.card
  width: 100%
  height: 100%
  padding: 10px
  background: #fff
  box-sizing: border-box
  box-shadow: 0 1px 3px #00000080
  cursor: pointer
  &--hide
    display: none
  &--layer
    width: $desk-list-width - 30px
    height: $desk-card-height - 30px
  &__title
    display: block
    display: -webkit-box
    max-width: 100%
    height: 90px
    margin: 0 auto
    font-weight: 300
    font-size: 1.3rem
    line-height: 1.1
    -webkit-line-clamp: 4
    -webkit-box-orient: vertical
    overflow: hidden
    text-overflow: ellipsis
.create-task
  position: absolute
  right: 0
  bottom: 0
  width: $desk-card-height + 100px
  background: #fff
  border-top: 1px solid #ccc
  border-left: 1px solid #ccc
  &--hide
    display: none
  &--active

  &__headline
    font-size: 1.4rem
    font-weight: 300
    padding: 6px 10px
    cursor: pointer


.card-modal
  width: 700px
  min-height: 400px
  top: 10%
  &__headline
    display: block
    width: 100%
    padding: 8px 15px 12px
    padding-right: 40px
    box-sizing: border-box
  &__headline-input
    width: 100%
    height: 2rem
    padding: 0
    padding-bottom: 5px
    border: none
    border-bottom: 1px solid transparent
    outline: none
    resize: none
    font-size: 1.8rem
    line-height: 2rem
    font-weight: 300
    background: transparent
    &:focus
      border-bottom: 1px solid #ccc

  &__content
    display: flex

.card-modal-body
  flex: 1
  padding: 0 15px
  &__field
    font-size: 1.4rem
    line-height: 1.6rem
    font-weight: 300
    margin-bottom: 5px
  &__description
    width: 100%
    min-height: 4rem
    padding: 0
    border: none
    border-bottom: 1px solid #ccc
    outline: none
    resize: none
    font-size: 1.4rem
    line-height: 1.6rem
    font-weight: 300

.card-modal-create-desk
  display: block
  width: 100%
  padding: 5px
  border: none
  font-size: 1.3rem
  font-weight: 300
  text-align: left
  background: #efefef
  cursor: pointer
  outline: none
  &:hover
    background: #dedede

.card-modal-sidebar
  width: 180px


// chat module styles

.chat-container
  display: flex
  width: 100%
  height: 100%

.chat-sidebar
  width: 300px
  height: 100%
  background: #2e2e2f

.chat-sidebar-item
  position: relative
  background: #353535
  cursor: pointer
  &:hover
    background: #257ab3
  &--active
    background: #23a6ff
    &:hover
      background: #23a6ff
  &__title
    display: block
    padding: 8px 15px
    padding-right: 35px
    font-size: 1.2rem
    font-weight: 200
    color: #fff
    text-decoration: none
  &__notification
    position: absolute
    top: 6px
    right: 6px
    min-width: 20px
    padding: 4px
    border-radius: 50%
    background: #0083dc
    font-size: 1rem
    color: #fff
    text-align: center

.chat
  position: relative
  flex-grow: 1
  &__messages
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 40px
    padding: 10px 20px
    box-sizing: border-box
    overflow-y: auto
    &::-webkit-scrollbar
      width: 10px
    &::-webkit-scrollbar-track
      background: transparent
    &::-webkit-scrollbar-thumb
      background: #888
  &__input
    position: absolute
    bottom: 0

.chat-input
  width: 100%
  &__form
    position: relative
  &__input
    width: 100%
    padding: 10px 10px
    padding-right: 110px
    border: none
    box-sizing: border-box
    font-family: 'Roboto', sans-serif
    font-size: 18px
    font-weight: 300
    color: #dcddde
    background: #202225
    outline: none
    &::placeholder
      color: #929292
  &__button
    position: absolute
    right: 0
    width: 100px
    height: 100%
    border: none
    background: #137eb1
    font-size: 20px
    font-weight: 300
    font-family: 'Roboto', sans-serif
    color: #fff
    cursor: pointer
    &:hover
      background: #0b6d9c


.message-date-label
  padding-bottom: 10px
  color: #0083dc
  font-size: 1.2rem

.message-wrap
  padding-bottom: 10px

.message
  display: inline-block
  max-width: 50%
  padding: 5px 10px
  background: #4c4c4c
  color: #fff
  border-top-right-radius: 5px
  border-bottom-left-radius: 5px
  &__author
    font-size: 18px
    padding-bottom: 4px
    color: #00a5f3
  &__text
    overflow: hidden
    word-break: break-word
  &__date
    float: right
    padding-left: 10px
    padding-top: 7px
    font-size: 14px
  &--is-mine
    background: #23a6ff
    .message__author
      color: #fff
