@import 'constants.sass'

.overlay
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: #00000075
  
.modal
  position: absolute
  width: 500px
  background: #fff
  top: 25%
  left: 0
  right: 0
  margin: auto
  &__closer
    position: absolute
    top: 0
    right: 0
    cursor: pointer
    font-size: 40px
    color: #b6bece
  &__text
    padding: 25px 25px 20px
    font-size: 1.7rem
    font-weight: 300
    color: #6d788d
    &--bp10
      padding-bottom: 10px

  &__button-bar
    display: flex
  &__button
    width: 100%
    border: 0
    padding: 15px 0
    font-family: 'Roboto', sans-serif
    font-size: 1.15rem
    font-weight: 200
    background: #b6bece
    color: #fff
    cursor: pointer
    outline: none
    &:hover
      background: #6d788d
    &--alert
      background: $alert-color
      &:hover
        background: #d04948
    &--access
      background: #23a6ff
      &:hover
        background: $primary-color

.modal-form
    &__input
      padding: 0 15px 10px
      box-sizing: border-box
