@import 'constants.sass'

table
  width: 100%
  background-color: #fff
  border-collapse: collapse
  box-shadow: 1px 1px 3px 3px #eee

th, td
  font-weight: unset
  padding-right: 10px

.column100
  padding-left: 25px

.row100
  &.head th
  padding-top: 6px
  padding-bottom: 4px
  td
    padding-top: 6px
    padding-bottom: 4px

.table100
  td
    font-size: 1.2rem
    color: #565656
    line-height: 1.4
  th
    font-size: 1.4rem
    color: #fff
    line-height: 1.4
    background-color: #23a6ff
    text-align: left
    padding-top: 4px

.col-dd
    width: 70px
    padding: 0
    margin: 0
    text-align: center
