@import 'constants.sass'

.widget-container
  width: 33.333%
  padding: 10px
  box-sizing: border-box
  &:nth-child(3n+3)
    padding: 10px 0 10px 20px
  &:nth-child(3n+1)
    padding: 10px 20px 10px 0

.widget
  box-shadow: 0 0 2px 1px #eee
  background: #fafafa
  &__headline
    position: relative
    padding: 5px
    padding-right: 40px
    background: $sub-primary-color
  &__link
    font-size: 1.5rem
    font-weight: 300
    color: #EFEFEF
    text-decoration: none
    &:hover
      color: #FFF
  &__create
    position: absolute
    width: 30px
    height: 30px
    top: 5px
    right: 10px
    text-decoration: none
    color: #EFEFEF
    font-weight: 300
    font-size: 40px
    line-height: 30px
    text-align: center
    text-decoration: none
    &:hover
      color: #FFF
  &__content
    height: 175px
    overflow-y: auto
    scrollbar-width: thin
    scrollbar-color: rgba(183, 183, 183, 0.9) transparent
  &::-webkit-scrollbar
    width: 10px
    background: transparent
  &::-webkit-scrollbar-thumb
    background: rgba(183, 183, 183, 0.9)

.widget-item
  padding: 5px
  border-bottom: 1px solid #f5f5f5
  font-weight: 100
  background: #fff
  &__title
  font-size: 1.4rem
  &--link
    color: $sub-primary-color
    text-decoration: none
    &:hover
      color: $primary-color
